.new-category-form {
  width: 100%;

  button {
    border: 1px solid orange;
    border-radius: 6px;
    padding: 5px 10px;

    &:hover {
      background-color: #222f3d;
    }
  }

  button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
    color: white;
    border: none;
  }

  label {
    font-size: 12px;
  }

  input {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 12px;
    width: 100%;
    border-radius: 6px;
    border: 0px;
    background-color: lighten(rgb(218, 160, 53), 30%);
    color: darken(darkgrey, 30%)
  }

}

.category-form-div {
  width: 100%;
  margin-bottom: 20px;
}