.password-update {
  padding: 50px;

  .input-div {
    margin: 20px;
    width: 100%;
  }

  .input-div:last-child {
    margin-top: 30px
  }

  button {
    width: 90%;
  }
  
  button:disabled {
    background-color: gray;
  }
}

.hidden-div {
  display: none;
}

.displayed-div {
  text-align: center;
}