.password-update {
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 60%;
  }
  
  .input-div {
    margin: 20px;
    width: 100%;
  }

  .input-div:last-child {
    margin-top: 30px
  }

  button {
    width: 90%;
  }
  
  button:disabled {
    background-color: gray;
  }
}

.hidden-div {
  display: none;
}

.displayed-div {
  text-align: center;
}