.activeItemsBox {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.user-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25%;
  margin: 20px;

  .singleItem {
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    img {
      max-width: 100%;
    }
  }

  .edit-buttons {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

}