.thread-box {
  // border: 1px solid orange;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  color: #222f3d;
  background-color: rgb(252, 229, 189);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.thread-box:hover {
  background-color: rgb(255, 244, 225);
}
