.thread-box {
  border: 1px solid orange;
  margin: 1em;
  padding: 1em;
  color: #222f3d;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.thread-box:hover {
  background-color: rgb(255, 244, 225);
}
