.search-result {
  display: flex;
  padding:  10px 0  10px 0;

  border-bottom: 1px solid black;

  div {
    display: flex;

    img {
      align-self: center;
      
      width: 200px;
      height: auto;
      padding-right: 20px;
    }
  }

  li {
    display: flex;
  
    h4 {
      margin: 0 0 10px 0;
    }
  }
}


@media only screen and (max-width: 760px) {
  .search-result {
    flex-direction: column;
  }
}


