.user-profile {
  padding: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .profile-sub-div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid orange;
    padding: 30px;

  }

  .profile-sub-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid orange;
    padding: 30px 30px 60px 30px;
    width: 100%;

    .primary-address-card {
      width: 300px;
      line-height: .5;
      padding-bottom: 20px;

    }

    .shipping-addresses {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%
    }

  }

  .user-img {
    max-width: 50%;

    .prof-img {
      max-width: 100%;
    }
  }

  .user-details {
    max-width: 50%;
  }


}

.hide-div {
  display: none;
}

.display-div {
  display: block;
}