.user-profile {
  padding: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .user-img {
    max-width: 50%;

    .prof-img {
      max-width: 100%;
    }
  }

  .user-details {
    max-width: 50%;
  }


}

.hide-div {
  display: none;
}

.display-div {
  display: block;
}