.user-profile {
  padding: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .profile-sub-div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid orange;
    padding: 30px;

  }

  .profile-sub-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid orange;
    padding: 30px;

    .shipping-addresses {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

  }

  .user-img {
    max-width: 50%;

    .prof-img {
      max-width: 100%;
    }
  }

  .user-details {
    max-width: 50%;
  }


}

.hide-div {
  display: none;
}

.display-div {
  display: block;
}