$link-color: orange;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 250, 250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .page {
    width: 80%;
    height: 100%;
    // border: solid 1px rgb(235, 161, 25);
    margin-left: 200px;
  }
}

/* 4. Remove margin and padding from page */
html,
body {
  margin: 0;
  padding: 0;
}
/* 5. Box Sizing Reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $link-color;
}

@media only screen and (max-width: 750px) {
  .header {
    background: transparent;
  }
  
  .main {
    background: yellow;

    .side-box {
      background: green;
    }
    .page {
      background: blue;
    }
  }

  .footer {

    background: transparent;
    .logoBox {
      background: transparent;

      .title {
        background: transparent;
      }
    }

  }
}